body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#2C2C2C, #000);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #FFF;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 40px;
}
.genius__area {
    overflow: hidden;
    width: 700px;
    height: 700px;
    border: 7px solid #000;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #000;
    display: grid;
    grid-template-areas: 'vermelho amarelo'
    'verde azul';
    grid-gap: 10px
}
.red {
    grid-area: vermelho;
    background-color: red;
    cursor: pointer;
    opacity: 0.5;
}
.yellow {
    grid-area: amarelo;
    background-color: yellow;
    cursor: pointer;
    opacity: 0.5;
}
.blue {
    grid-area: azul;
    background-color: blue;
    cursor: pointer;
    opacity: 0.5;
}
.green {
    grid-area: verde;
    background-color: green;
    cursor: pointer;
    opacity: 0.5;
}
.selected {
    opacity: 1;
}